{% extends "layout.html" %}
{% block body %}
  <div class="container">
    {% for project in projects %}
      <div class="row">
        <div class="col-sm-2" style="margin-top:10px">
          {% if session.logged_in %}
            <br>
            <div class="btn-group">
              <a class="btn btn-info" href="{{ url_for('update_project', project_id=project.id) }}">Update</a>
              <a class="btn btn-danger" href="{{ url_for('delete_project', project_id=project.id) }}">Delete</a>
            </div>
          {% endif %}
        </div>
        <div class="col-sm-10">
          <h2 class="text-danger"><font size="7">{{ project.name|safe }}</font></h2>
          <h4 class="text-danger"><font size="4">{{ project.title|safe }}</font></h4>
          <br>
          <font size="3"><strong>People:</strong> {{ people[project.id]|join(', ') }}</font>
          <br><br>
          <p>{{ project.description }}</p>
          <br><br>
          {% for single_news in news[project.id] %}
            <font size="3" color="red"><strong>News:  </strong>{{ single_news.title }}</font><br>
            <font size="3">{{ single_news.description }}</font>
            <br><br>
          {% endfor %}
          <br><br><br>
          <font size="3"><strong>Publications:</strong></font>
          <ul>
            {% for publication in publications[project.id] %}
            <li>{{ publication.description }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <br><br>
    {% endfor %}
    {% if session.logged_in %}
    <br>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="{{ url_for('add_project') }}" class="btn btn-default">Add Project</a>
      </div>
    </div>
    <br><br><br><br><br>
    {% endif %}
  </div>
{% endblock %}